.DS_Store
*.DS_Store
npmrc
/.history
*.sw
*~
wayfair
local
/public/lastLogin.sh
/public/config/gh
/public/config/raycast/extensions
/public/config/exercism
/public/config/nvim/plugin
/public/login.json
/public/warp/themes/random_bg
/public/zshrc
